.color-picker{
    display: flex;
    align-items: center;
    margin: 0.5rem;
}

.color-picker label{
    margin-right: 0.5rem;
    font-size: 1rem;
    color: #333333;
}

.color-picker input{
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    outline: none;
}